@import "mixin";
@import "var";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

#fullpage {
  height: 100vh;
}

/*  Navigation bar */
.navbar {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  .navbar-nav {
    position: relative;
    z-index: 10;
    height: 110px;

    .navbar-brand {
      margin: 0;
    }

    .svg-img {
      fill: black;
    }

    .nav-item {
      padding: 40px 10px;

      .dropdown {
        border: transparent;
        box-shadow: none;

        .dropdown-menu {
          border: 0px;

          .dropdown-item {
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .nav-link {
        color: black;
        font-size: 1.05rem;
        font-weight: 500;
        font-family: Roboto, Arial, sans-serif;
        background-color: white;
        border: transparent;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* // wrapper section......................... */
.owl-carousel {
  .fp-tableCell {
    height: 0;
  }

  #hero-section {
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    /* background-image: url(../img/bike.png);
    background-blend-mode: saturation;
    background-size: cover;
    background-repeat: no-repeat; */

    .hero-content {
      display: table-cell;
      height: 100vh;
      vertical-align: middle;
      .btn-outline-dark {
        margin-left: 10px;
        border-radius: 0;
        color: black;
        font-size: 1.15rem;
        opacity: 1;
        text-transform: uppercase;
        &:hover {
          background-color: black;
          color: white;
        }
      }
    }
    .hero-title {
      color: $main_color;
      text-transform: uppercase !important;
      width: 100%;
      font-size: 4rem;
      font-weight: bolder;
      height: 230px;
      .welcome {
        letter-spacing: 0.2rem;
      }
    }
    #jacket {
      height: 100vh;
      width: 100%;
      canvas {
        background-color: white;
        &:focus {
          outline: none;
        }
      }
    }
  }
}

/* // .wrapper {
//     z-index: -1;
//     background-size: cover;
//     overflow: hidden;
//     height: 100vh;
//     width: 100%;

//     .owl-carousel {
//         margin: 0;

//         .item {
//             height: 100vh;
//             filter: brightness(40%);

//             .owl-item-img {
//                 height: 100vh;
//                 width: 100%;
//                 overflow: hidden;
//                 background-size: cover;
//             }
//         }

//         .owl-dots {
//             display: none;
//         }
//     }
// } */

/* // collection section...................... */

// .collection-head {
//   font-weight: lighter;
//   text-align: center;
//   color: $snd_color;
// }
.collections {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: $main-color;
  justify-content: center;
  align-items: center;

  .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 900px;
    height: 600px;
    background: #fff;
    margin: 20px;
    left: 250px;

    .imgBx {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 100%;
      background: #212121;
      transition: .3s linear;
      right: 15px;

      :before {
        content: 'Gorkhey';
        position: absolute;
        top: 0px;
        left: 24px;
        color: #000;
        opacity: 0.2;
        font-size: 6em;
        font-weight: 800;
      }

      img {
        position: relative;
        width: 800px;
        transform: rotate(-10deg);
        left: -50px;
        transition: .9s linear;
      }
    }
    .details {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 100%;
      box-sizing: border-box;
      padding: 40px;

      h2 {
        margin: 0;
        padding: 0;
        font-size: 2.4em;
        line-height: 1em;
        color: $main-color;

        span {
          font-size: 0.4em;
          text-transform: uppercase;
          letter-spacing: 2px;
          color: #444;
        }
      }

      p {
        max-width: 85%;
        margin-left: 15%;
        color: #333;
        font-size: 15px;
        margin-bottom: 36px;
      }

      h3 {
        margin: 0;
        padding: 0;
        font-size: 2.5em;
        color: $main-color;
        float: left;
      }

      button {
        background: #000;
        color: #fff;
        border: none;
        outline: none;
        padding: 15px 20px;
        margin-top: 5px;
        font-size: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 600;
        border-radius: 40px;
        float: right;
      }
    }
  }


  /* .fp-tableCell {
    vertical-align: top;
  } */

  // .collections-title {
  //   text-align: center;
  //   width: 100%;
  //   position: relative;
  //   color: $snd_color;

  //   .collection-desc {
  //     text-align: center;
  //     color: $snd_color;
  //   }
  // }

  // .container-box {
  //   padding: 0;
  // }

  // .space {
  //   height: 30px;
  //   width: 100%;
  // }

  // .collection-item {
  //   position: relative;
  //   overflow: hidden;
  //   height: auto;
  //   width: 100%;
  //   cursor: pointer;

  //   .collection-img {
  //     background-repeat: no-repeat;
  //     background-size: cover;
  //     background-position: center;
  //     align-items: center;
  //     filter: brightness(50%);
  //     height: 230px;
  //     width: 100%;
  //     padding: 10px;
  //     transition: all linear 0.4s;
  //   }

  //   &:hover .collection-img {
  //     transition: all linear 0.4s;
  //     transform: scale(1.2);
  //   }

  //   img {
  //     height: 265;
  //     width: 265px;
  //     background-size: cover;
  //     padding: 20px;
  //     margin: 0 0 20px;
  //     filter: brightness(60%);
  //     -webkit-filter: brightness(60%);
  //   }

  //   .collection-content {
  //     position: absolute;
  //     width: 100%;
  //     height: 100%;
  //     top: 0;
  //     left: 0;
  //     color: $snd_color;

  //     .collection-contents {
  //       width: 100%;
  //       position: absolute;
  //       top: 75%;
  //       left: 50%;
  //       transform: translate(-50%, -50%);

  //       .btn {
  //         border-radius: 0;
  //       }
  //     }
  //   }
  // }

  // .collection-item.small {
  //   .collection-contents {
  //     padding: 0 18px;
  //   }
  // }

  // .collection-item.large {
  //   .collection-contents {
  //     padding: 0 50px;
  //   }
  // }
}

/* // about us section........................ */
.about-us-section {
  height: 100vh;
  width: 100%;
  background-color: $snd_color;
  /* // background-image: url(../img/bullet.jpg); */
  position: relative;

  /* // .about-cont {
  //     background-color: #000000;
  //     box-shadow: $shadow;
  // } */

  .fp-tableCell {
    display: table-cell;
    vertical-align: top;
    height: 100vh;
  }

  .about-us-title {
    text-align: center;
    background-color: $main-color;
    position: relative;
    width: 123px;
    height: 73vh;

    .about-head {
      text-transform: uppercase;
      writing-mode: vertical-lr;
      text-orientation: mixed;
      transform: rotate(180deg);
      vertical-align: center;
      font-size: 6rem;
      font-weight: 600;
      padding-bottom: 5px;
      text-decoration: transparent;
      color: $snd_color;
    }
  }

  .about-desc {
    justify-content: center;
    color: $main-color;
    position: relative;
    padding-top: 23%;
    height: 100%;
    width: 100%;
    word-spacing: 5px;
    margin-left: 45px;

    .about-desc-title {
      font-weight: lighter;
    }

    .btn {
      border-radius: 0;
      border: 1px solid $main_color;
    }
  }

  .about-image {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

/* // Club Gorkhey ........................... */
.club-gorkhey {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: $main-color;
  .club-img {
    position: absolute;
    height: 100vh;
    width: 50%;
    top: 0;
    left: 0;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .club-desc-sec {
    padding-left: 40px;
    padding-right: 40px;
    color: $snd_color;

    .club-head {
      font-weight: lighter;
    }
    .btn-outline-light {
      border-radius: 0;
    }
    .club-desc {
      color: rgba(255, 255, 255, 0.7);
      font-size: 0.9rem;
      margin-bottom: 15px;
    }
  }
}

/* // Blog section + Footer .................. */
.main-blog {
  @include flexPro;
  background-color: $snd_color;
  background-repeat: no-repeat;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 100;
  .collections-title {
    margin-bottom: 5%;
  }
  .collection-head {
    color: black;
  }
  .collection-desc {
    width: 35%;
    margin: auto;
  }
  div.col-4 {
    &:nth-child(odd) {
      .card {
        transform: rotate(15deg);
      }
    }
    &:nth-child(even) {
      .card {
        transform: rotate(-15deg);
      }
    }
  }
  .card {
    position: relative;
    background-color: #000;
    color: #fff;
    border-radius: 0;
    border: 17px solid black;
    border-bottom: 0;
    margin: 10px 15%;
    cursor: pointer;
    .card-body {
      margin-top: 0;
      margin: 0;
      padding: 0;
      height: auto;

      .card-title {
        padding-top: 10px;
        font-weight: lighter;
        font-size: 1rem;
      }
    }

    .card-img-top {
      position: relative;
      height: 380px;
      object-fit: cover;
      width: 100%;
      transition: all 0.3s linear;
    }
    .read-more {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      border-radius: 0;
      text-transform: uppercase;
      opacity: 0;
      transition: all 0.3s linear;
    }
    &:hover {
      .card-img-top {
        transition: all 0.3s linear;
        filter: brightness(50%);
      }
      .read-more {
        transition: all 0.3s linear;
        opacity: 1;
      }
    }
  }

  .space {
    padding: 10px;
  }
}

/* .main-blog::before {
  content: "Blogs";
  color: #d3d3d3;
  font-size: 25rem;
  letter-spacing: 90px;
  text-align: center;
  justify-content: center;
  align-items: center;
} */

.contact-us {
  position: relative;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: $main_color;
  color: $snd_color;
  z-index: 1;
  .collection-head {
    margin-bottom: 20px;
  }
  .contact-container {
    padding-top: 8vh;
    height: 70vh;

    .fp-tableCell {
      vertical-align: top;
      display: unset;
    }

    space {
      padding: 20px;
    }

    .info-main-head {
      font-weight: lighter;
    }

    .form-control {
      border-radius: 0;
      border: 0;
      background-color: #ffffff;
      border-right: 0;
      border-left: 0;
    }

    .msg-label {
      font-size: small;
    }

    .btn {
      border-radius: 0;
      font-size: small;
    }

    .contact-main-head {
      text-align: center;
      font-weight: lighter;
      color: $snd_color;
      margin: 5px 0;
    }

    .information {
      line-height: 40px;
    }

    .info-list-items {
      text-decoration: none;
      list-style-type: none;
      font-size: small;
    }

    .social-media {
      position: relative;

      .social-icons {
        height: 100px;
        width: 100px;
        letter-spacing: 15px;
      }
    }

    .form-name {
      font-size: small;
    }
  }
}

#footer {
  width: 100%;
  position: relative;
  margin-top: 0;
  overflow: hidden;
  border-top: 2px solid $snd_color;
  height: 30vh;
  .footer-box {
    align-items: center;
    margin-top: 15px;
    padding-bottom: 20px;

    .footer-nav-head {
      font-weight: lighter;
    }
  }

  .footer-nav-lists {
    list-style-type: none;
    color: $snd_color;
    padding-top: 10px;

    .info-lists {
      font-size: small;
      list-style-type: none;
      color: $snd_color !important;
    }

    .ftNav {
      color: $snd_color;
      font-size: small;
      text-align: center;
      align-items: center;
    }
  }
}
